@model TheWorld.ViewModels.ContactViewModel
@{ 
	ViewBag.Title = "Contact";
}
@section Scripts{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<h1>Contact Us</h1>

<form method="post">
	
	<div asp-validation-summary="ValidationSummary.ModelOnly"></div>
	
	<label asp-for="Name">Name</label>
	<input asp-for="Name" type="text">
	<span asp-validation-for="Name"></span>
	
	<label asp-for="Email">Email</label>
	<input asp-for="Email" type="email">
	<span asp-validation-for="Email"></span>
	
	<label asp-for="Message">Message</label>
	<textarea asp-for="Message" cols="40" rows="4"></textarea>
	<span asp-validation-for="Message"></span>
	
	<div><input type="submit" value="Send Message" /></div>
</form>