@model IEnumerable<TheWorld.Models.Trip>

@{ 
	ViewBag.Title = "Home";
}

<div class="row">

	<div class="col-md-12">
		<h1>Welcome to The World</h1>
		<p>This app will allow you to plan for world trips</p>
		<a asp-controller="App" asp-action="Trips" class="btn btn-success btn-lg">View My Trips</a>
	</div>

</div>