@{ 
	ViewBag.Title = "Home";
}

<div class="row">

	<div class="col-md-6">
		<h1>The World</h1>
		<p>This is an MVC view!</p>

		<form>
			<div>
				<label>Date</label>
				<input />
			</div>
			<div>
				<label>Location</label>
				<input />
			</div>
			<div><input type="submit" value="Add" /></div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>The Map</h2>
	</div>

</div>