@model IEnumerable<TheWorld.Models.Trip>

@{
	ViewBag.Title = "Home";
}
@section Scripts {
	<script src="~/lib/angular/angular.min.js"></script>
	<script src="~/js/app-trips.js"></script>
	<script src="~/js/tripscontroller.js"></script>
}

<div class="row" ng-app="app-trips">

	<div ng-controller="tripsController as vm" class="col-md-6 col-md-offset-3">
		{{vm.name}}
	</div>

	<div class="col-md-6">
		<h1>The World</h1>
		<p>This is an MVC view!</p>

		<form>
			<div class="form-group">
				<label>Date</label>
				<input class="form-control" />
			</div>
			<div class="form-group">
				<label>Location</label>
				<input class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Add" class="btn btn-success" />
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>The Map</h2>
		<ul>
			@foreach (var trip in Model)
			{
				<li>@trip.Name (@trip.Created.ToShortDateString())</li>
			}
		</ul>
	</div>

</div>