@{
	ViewBag.Title = "My Trips";
}
@section Scripts {
	<script src="~/lib/angular/angular.min.js"></script>
	<script src="~/lib/angular-route/angular-route.min.js"></script>
	<script src="~/js/app-trips.js"></script>
	<script src="~/js/tripscontroller.js"></script>
	<script src="~/js/simplecontrols.js"></script>
	<script src="~/js/tripeditorcontroller.js"></script>
}

<div class="row" ng-app="app-trips">

	<div ng-view></div>

</div>