<!DOCTYPE html>
<html>

<head>
	<title>The World | @ViewBag.Title</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" type="text/css" href="~/css/site.css" />

</head>

<body>
	<div id="sidebar">
		<img src="~/img/myprofile.png" alt="Gonzalo profile picture." class="profile-picture" />
		<span><em id="username">Gonzalo Lucero</em> is a really great guy and this is showing a really long string.</span>
		<ul class="menu">
			<li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
			<li><a asp-controller="App" asp-action="About">About</a></li>
			<li><a asp-controller="App" asp-action="Contact">Contact</a></li>
		</ul>
	</div>

	<div id="wrapper">
		<div id="main">
			<div>
				<button id="sidebarToggle">Toggle Menu</button>
			</div>
			
			<div>
				@RenderBody()
			</div>
			
		</div>

		<div id="footer">
			&copy; 2015 The World Pty Ltd
		</div>
	</div>

	<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="~/js/site.js"></script>
	
	@RenderSection("Scripts", false)
	
</body>

</html>